.search-bar {
    display: flex;
    position: relative;
    align-items: center;
  }

  body.dark .search-bar .icon{
    font-size: 30px;
    left: 5px;
    color: rgb(7, 20, 26);
    position: absolute;
  }
  body.light .search-bar .icon{
    font-size: 30px;
    left: 5px;
    color: rgba(44, 109, 128, 0.9);
    position: absolute;
  }
  
  body.dark .search-bar input {
    font-size: 16px;
    padding: 15px 15px 15px 45px;
    width: 100%;
    height: 40px; 
    max-width: 450px;
    border-radius: 4px;
  }

  body.light .search-bar input {
    font-size: 16px;
    padding: 15px 15px 15px 45px;
    width: 100%;
    height: 40px;
    color: rgba(44, 109, 128, 0.9) !important;
    font-weight: bold;
    max-width: 450px;
    border-radius: 4px;
    border: 2px solid rgba(44, 109, 128, 0.9);
  }

  body.light ::placeholder {
    color: rgba(44, 109, 128, 0.9);
  }
  